table{
	border: 5px solid black;
    background: linear-gradient(-150deg,darkblue,#76f5fc);
    padding: 10px;
    border-radius: 10px;
}

th {
    border: 2px solid black;
    background: #76f5fc;
    padding: 10px;
    color: black;
    border-radius: 10px;
}
td{
	border: 1px solid white;
    padding: 5px;
    color: white;
    text-align: center;
    border-radius: 10px;
}